#edit-container{
    position: absolute;
    z-index: 6;
    background: #000;
    height: 700px;
    width: 200%;
    overflow: hidden;
    top: -9000px;
    padding: 20px;    
    transition: all 0.5s ease-in-out;    
    color: #fff;
}